<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginBinding"/>
                <binding name="MigrarSolicitudRepartoBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desarrollo.avance.org.co/~jose.ramirez/hubdocumental/WS/soap-server.php" binding="basicHttpBinding" bindingConfiguration="LoginBinding" contract="Cliente_HubDocumental.LoginPortType" name="LoginPort"/>
            <endpoint address="http://SER-LuisM:8088/mockMigrarSolicitudRepartoBinding" binding="basicHttpBinding" bindingConfiguration="MigrarSolicitudRepartoBinding" contract="Cliente_HubDocumental.MigrarSolicitudRepartoPortType" name="MigrarSolicitudRepartoPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
