@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/dashboard.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="pageBody">
        <div class="dashboard">
            <div class="dashboard3Col">
                <div class="dashboardCol">
                    <div class="dashboardItemHeader">Titulo</div>
                    @ViewBag.Title          
                </div>
                <div class="dashboardCol">
                    <div class="dashboardItemHeader">Descripcion</div>
                    @ViewBag.Description
                </div>

                <div class="dashboardCol">
                    <div class="dashboardItemHeader">Mensaje</div>
                    @ViewBag.MessageEx
                </div>
                <div class="dashboardFooter"></div>
            </div>
        </div>
    </div>
</body>
</html>