<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Credito_ConsultarCargaTrabajoBinding12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:7800/esb/services/soap" binding="customBinding"
                bindingConfiguration="Credito_ConsultarCargaTrabajoBinding12"
                contract="Credito_ConsultarCargaTrabajo.Credito_ConsultarCargaTrabajoPortType"
                name="Credito_ConsultarCargaTrabajoPort12" />-->
        </client>
    </system.serviceModel>
</configuration>