<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IApi" />
        <binding name="BasicHttpBinding_IWorkManagerApi" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://fnabogpapp001:8095/GestorService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApi"
          contract="ECMService.IApi" name="BasicHttpBinding_IApi" />
      <endpoint address="http://fnabogpapp001:8088/WorkManagerApi.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkManagerApi"
          contract="CorrespondenceService.IWorkManagerApi" name="BasicHttpBinding_IWorkManagerApi" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
