<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Credito_AsignarEstacionTramiteBinding12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7800/esb/services/soap" binding="customBinding"
                bindingConfiguration="Credito_AsignarEstacionTramiteBinding12"
                contract="Credito_AsignarEstacionTramite.Credito_AsignarEstacionTramitePortType"
                name="Credito_AsignarEstacionTramitePort12" />
        </client>
    </system.serviceModel>
</configuration>