<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="UsrServices" value="fnacbpm"/>
    <add key="PwdServices" value="Bizagi2017"/>
    <add key="ByPassCertificate" value="true"/>
    <add key="URLValidarExistencia" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLRecuperarInfoPJ" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearEstructura" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearProyecto" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearSolicitud" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLRecuperarInfoPN" value="https://172.16.123.110:7094/esb/services/soap"/>
    <!--<add key="URLRecuperarTramite" value="http://localhost:82/services/tramite?WSDL"/>-->
    <add key="URLRecuperarTramite" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLRecuperarDetalleTramite" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLFirmaDigital" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCorreoSeguro" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="TraceLog" value="C:/LogWSFacadeService/"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="LoginBinding"/>
        <binding name="MigrarSolicitudRepartoBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://desarrollo.avance.org.co/~jose.ramirez/hubdocumental/WS/soap-server.php" binding="basicHttpBinding" bindingConfiguration="LoginBinding" contract="Cliente_HubDocumental.LoginPortType" name="LoginPort"/>
      <endpoint address="http://SER-LuisM:8088/mockMigrarSolicitudRepartoBinding" binding="basicHttpBinding" bindingConfiguration="MigrarSolicitudRepartoBinding" contract="Cliente_HubDocumental.MigrarSolicitudRepartoPortType" name="MigrarSolicitudRepartoPort"/>
    </client>
  </system.serviceModel>
</configuration>