<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="UsrServices" value="curso1" />
    <add key="PwdServices" value="Fondo2009" />
    <add key="ByPassCertificate" value="true"/>    
    <add key="URLRecuperarInfoPJ" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearEstructura" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearProyecto" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearSolicitud" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="PathTraceLog" value="C:\TestLog\"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="LoginBinding"/>
        <binding name="MigrarSolicitudRepartoBinding"/>
        <binding name="NewBinding3" messageEncoding="Text" >
          <security mode="Transport" >
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="NewBinding1" messageEncoding="Mtom" textEncoding="utf-8" >
          <security mode="Transport" >
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>

        <binding name="NewBinding2" messageEncoding="Text" textEncoding="utf-8" >
          <security mode="Transport" >
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://172.16.123.216:8099/app/services/soap/CorreoSeguroPKIService"
                binding="wsHttpBinding"
                bindingConfiguration="NewBinding1"
				        contract="CorreoSeguroClient.PKI_CorreoSeguroPortType">
      </endpoint>
      
      <endpoint address="https://172.16.123.216:8099/app/services/soap/FirmaDocumentoPKIService"
                binding="wsHttpBinding"
                bindingConfiguration="NewBinding1"
                contract="FirmaDocuementoClient.PKI_FirmaDocumentoPortType" />

      <endpoint address="https://172.16.123.110:7094/esb/services/soap"
                binding="basicHttpBinding"
                bindingConfiguration="NewBinding3"
                contract="Cobis_EnrutarTramite.Credito_EnrutarTramiteCreditoPortType"
                name="Credito_EnrutarTramiteCreditoPort12"/>
      
      <endpoint address="https://172.16.123.110:7094/esb/services/soap" 
                binding="basicHttpBinding"
                bindingConfiguration="NewBinding3"
                contract="Cliente_RecuperarTramite.Credito_RecuperarTramiteSolicitudesPortType"
                name="Credito_RecuperarTramiteSolicitudesPort12" />
      
      <endpoint address="https://172.16.123.110:7094/esb/services/soap" 
                binding="basicHttpBinding"
                bindingConfiguration="NewBinding3"
                contract="Cliente_DetalleTramite.Credito_RecuperarDetalleTramitePortType"
                name="Credito_RecuperarDetalleTramitePort12" />

      <endpoint address="https://172.16.123.110:7094/esb/services/soap"
                binding="basicHttpBinding"
                bindingConfiguration="NewBinding3"
                contract="Clinte_HubDocumental.Credito_MigrarSolicitudRepartoPortType"
                name="Credito_MigrarSolicitudRepartoPort12" />
      
      <endpoint address="https://172.16.123.110:7094/esb/services/soap"
                binding="basicHttpBinding" 
                bindingConfiguration="NewBinding3"
                contract="ClientePersonaNaturalCliente.Common_MessageSetPortType"
                name="ClientePersonaNatural_RecuperarInformacion_Port12" />

      <endpoint address="http://localhost:8080/Services/Cliente_ValidarExistencia?WSDL"
               binding="basicHttpBinding" 
               bindingConfiguration="NewBinding3"
               contract="Cliente_ValidarExistencia_WCF.Cliente_validarexistenciaPortType"
               name="Cliente_validarexistencia_Port12" />

      <endpoint address="https://172.16.123.110:7094/esb/services/soap" binding="basicHttpBinding"
                bindingConfiguration="NewBinding3"
                contract="Credito_ConsultarCargaTrabajo.Credito_ConsultarCargaTrabajoPortType"
                name="Credito_ConsultarCargaTrabajoPort12" />
      
      
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="false"/>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="traceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceFile" type="System.Diagnostics.TextWriterTraceListener"
           initializeData="C:\TestLog\trace.log" traceOutputOptions="None"/>
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
    </switches>
  </system.diagnostics>
</configuration>
