<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="UsrServices" value="esb_bizagi_p"/>
    <add key="PwdServices" value="Bus2017!!"/>
    <add key="ByPassCertificate" value="true"/>
    <add key="URLValidarExistencia" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLRecuperarInfoPJ" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearEstructura" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearProyecto" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearSolicitud" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLRecuperarInfoPN" value="https://172.16.123.110:7094/esb/services/soap"/>
    <!--<add key="URLEnrutarTramiteCredito" value="https://172.16.123.110:7094/esb/services/soap"/>-->
    <add key="URLEnrutarTramiteCredito" value="http://localhost:8080/Services/EnrutarTramiteCredito?WSDL"/>
    
    
    

    <!--<add key="URLRecuperarTramite" value="http://localhost:82/services/tramite?WSDL"/>-->
    <add key="URLRecuperarTramite" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLRecuperarDetalleTramite" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLFirmaDigital" value="http://172.16.123.216:8099/app/services/soap/CorreoSeguroPKIService"/>
    <add key="URLCorreoSeguro" value="http://ser-luism:8080/?WSDL"/>
    <!--<add key="URLCorreoSeguro" value="https://172.16.123.117:9484/WsPKIEmailSeguro/PKI_CorreoSeguroService" />-->
    <add key="PathTraceLog" value="C:\TestLog\"/>
    <add key="ContentTypeRQ" value="application/soap+xml; charset=utf-8"/>
    <add key="ContentTypeRS" value="application/soap+xml; charset=utf-8"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="LoginBinding"/>
        <binding name="MigrarSolicitudRepartoBinding"/>
        <binding name="NewBinding3" messageEncoding="Text" >
          <security mode="Transport" >
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>    
      <wsHttpBinding>
        <binding name="NewBinding1" messageEncoding="Mtom" textEncoding="utf-8" >
          <security mode="Transport" >
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName"/>
          </security>         
        </binding>

        <binding name="NewBinding2" messageEncoding="Text" textEncoding="utf-8" >
          <security mode="Transport" >
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--http://ser-luism:8080/?WSDL-->
      <!--https://172.16.123.117:9484/WsPKIEmailSeguro/PKI_CorreoSeguroService-->
      <endpoint address="http://desarrollo.avance.org.co/~jose.ramirez/hubdocumental/WS/soap-server.php" binding="basicHttpBinding" bindingConfiguration="LoginBinding" contract="Cliente_HubDocumental.LoginPortType" name="LoginPort"/>
      <endpoint address="http://SER-LuisM:8088/mockMigrarSolicitudRepartoBinding" binding="basicHttpBinding" bindingConfiguration="MigrarSolicitudRepartoBinding" contract="Cliente_HubDocumental.MigrarSolicitudRepartoPortType" name="MigrarSolicitudRepartoPort"/>
      
      <endpoint address="https://172.16.123.216:8099/app/services/soap/CorreoSeguroPKIService"
                binding="wsHttpBinding"
                bindingConfiguration="NewBinding1"
				        contract="CorreoSeguroClient.PKI_CorreoSeguroPortType">        
      </endpoint>
      <endpoint address="https://172.16.123.216:8099/app/services/soap/FirmaDocumentoPKIService"
                binding="wsHttpBinding" 
                bindingConfiguration="NewBinding1"
                contract="FirmaDocuementoClient.PKI_FirmaDocumentoPortType" />

      <endpoint address="https://172.16.123.110:7094/esb/services/soap" 
                binding="basicHttpBinding" 
                bindingConfiguration="NewBinding3"
                contract="Cobis_EnrutarTramite.Credito_EnrutarTramiteCreditoPortType" 
                name="Credito_EnrutarTramiteCreditoPort12"/>
    </client>   
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="false"/>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="traceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceFile" type="System.Diagnostics.TextWriterTraceListener"
           initializeData="C:\TestLog\trace.log" traceOutputOptions="None"/>
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
    </switches>
  </system.diagnostics>
</configuration>
