<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      
        <!--<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bizagi.Proxy.Layer.Cobis.ValidarExistenciaCliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>-->
    </configSections>
  
    <applicationSettings>
        <!--<Bizagi.Proxy.Layer.Cobis.ValidarExistenciaCliente.Properties.Settings>
            <setting name="Bizagi_Proxy_Layer_Cobis_RecuperarInfoPJ_RecuperarInfoPJ_Cliente_RecuperarInformacionPersonaJuridica_Service"
                serializeAs="String">
                <value>https://172.16.123.110:7094/esb/services/soap</value>
            </setting>
        </Bizagi.Proxy.Layer.Cobis.ValidarExistenciaCliente.Properties.Settings>-->
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
