<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bizagi.Proxy.Layer.HUB.FirmarDocumentos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bizagi.Proxy.Layer.HUB.FirmarDocumentos.Properties.Settings>
            <setting name="Bizagi_Proxy_Layer_HUB_FirmarDocumentos_Cliente_FirmaDigital_PKI_FirmaDocumentoService"
                serializeAs="String">
                <value>http://localhost:9080/FirmaDocumentoWS/PKI_FirmaDocumentoService</value>
            </setting>
        </Bizagi.Proxy.Layer.HUB.FirmarDocumentos.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="PKI_FirmaDocumentoBinding12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9080/FirmaDocumentoWS/PKI_FirmaDocumentoService"
                binding="customBinding" bindingConfiguration="PKI_FirmaDocumentoBinding12"
                contract="FirmaDocuementoClient.PKI_FirmaDocumentoPortType"
                name="PKI_FirmaDocumentoPort12" />
        </client>
    </system.serviceModel>
</configuration>