<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="UsrServices" value="fnacbpm"/>
    <add key="PwdServices" value="Bizagi2017"/>
    <add key="ByPassCertificate" value="true"/>
    <add key="URLValidarExistencia" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLRecuperarInfoPJ" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearEstructura" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearProyecto" value="https://172.16.123.110:7094/esb/services/soap"/>
    <add key="URLCrearSolicitud" value="https://172.16.123.110:7094/esb/services/soap"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
